<!DOCTYPE html>
<html>
<head>
	<title>My Simple Page</title>
</head>
<body>
	<header>
		<h1>Welcome to DevOps learning Page</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section>
			<h2>About Me</h2>
			<p>Hi, I'm <b>Madhivanan.</b> I like to code and play guitar in my free time.</p>
		</section>

		<section>
			<h2>My Projects</h2>
			<ul>
				<li><a href="#">Ansible</a></li>
				<li><a href="#">Docker</a></li>
				<li><a href="#">kubernetes</a></li>
			</ul>
		</section>
	</main>

	<footer>
		<p>&copy; 2023 My Simple Page</p>
	</footer>
</body>
</html>
